@media ( max-width:1200px )
  .hero::before
    top: -107px
    left: -256px
  .hero-container
    &::before
      top: -288px
      left: -77px
      width: 350px
      height: 350px
    &::after
      top: 70px
      left: 23px
      width: 350px
      height: 350px
  .hero__head
    margin-left: 500px

  .whyus
    &__info
      flex-direction: column
    &__data
      margin-bottom: 100px
      order: 1
      &::after
        top: 67px
        left: 40px
        z-index: -2
        backdrop-filter: blur(10px)
    &__features
      order: 2

  .services__all
    padding-left: 50px
    padding-right: 50px
  .services__car
    padding-left: 50px
    padding-right: 50px

  .works__wrap
    padding: 50px
  .works__order
    width: 530px
    &-wrap
      width: 530px
  .works__container::after
    transform: translate(0,156px)

  .footer__input
    width: 340px
