$bgc: #000
$white: #ffffff
$red: #FA2230
$text: #FFFFFF

%body
  font-family: 'Gilroy', sans-serif
  @include font(400, 16px, 120%)

%head
  font-family: 'IkraSlab', sans-serif
  @include font(400, 48px, 100%)
