html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "IkraSlab";
  src: url("../fonts/IkraSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.heading {
  font-family: "IkraSlab", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #FFFFFF;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.logo--header {
  height: 50px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  background: -webkit-gradient(linear, right top, left top, from(#FA2230), to(#700000));
  background: -o-linear-gradient(right, #FA2230 0%, #700000 100%);
  background: linear-gradient(270deg, #FA2230 0%, #700000 100%);
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 115%;
  color: #ffffff;
  padding: 19px 61px;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.header {
  margin-top: 28px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo {
  width: 50px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.nav {
  margin-left: 214px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}
.nav__item:not(:last-child) {
  margin-right: 42px;
}
.nav__item:not(:last-child)::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -6px;
  height: 2px;
  width: 0%;
  background-color: #FA2230;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.nav__item:last-child {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-left: 120px;
}

.hero {
  position: relative;
  height: 833px;
  padding-top: 181px;
  padding-bottom: 230px;
}
.hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/bg/head-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: calc(50% + 129px);
  -webkit-transform: translateY(-241px);
  -ms-transform: translateY(-241px);
  transform: translateY(-241px);
  z-index: -3;
}
.hero::after {
  position: absolute;
  content: "";
  top: -203px;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/bg/head-carblur.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right -137px;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  z-index: -2;
}
.hero-container {
  position: relative;
  padding-bottom: 230px;
}
.hero-container::before {
  position: absolute;
  content: "";
  top: -349px;
  left: -214px;
  width: 491px;
  height: 491px;
  border-radius: 50%;
  background: -o-radial-gradient(12.05% 22.39%, 74.63% 74.63%, #E2001B 0%, #700000 100%);
  background: radial-gradient(74.63% 74.63% at 12.05% 22.39%, #E2001B 0%, #700000 100%);
  z-index: -3;
}
.hero-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  -webkit-transform: translate(-44px, -143px);
  -ms-transform: translate(-44px, -143px);
  transform: translate(-44px, -143px);
  width: 484px;
  height: 484px;
  background: url(../images/bg/head-blur.svg), -o-linear-gradient(313.4deg, rgba(57, 57, 57, 0.5) 16.51%, rgba(57, 57, 57, 0) 60.77%);
  background: url(../images/bg/head-blur.svg), linear-gradient(136.6deg, rgba(57, 57, 57, 0.5) 16.51%, rgba(57, 57, 57, 0) 60.77%);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
}
.hero__title {
  color: #FA2230;
  margin-bottom: 22px;
}
.hero__descr {
  max-width: 362px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 115%;
}
.hero__btn {
  margin-bottom: 82px;
}
.hero__head {
  margin-left: 620px;
  position: relative;
}
.hero__head span {
  color: #FA2230;
}
.hero__head::before {
  position: absolute;
  content: "";
  top: 28px;
  left: 408px;
  height: 3px;
  width: 100%;
  background-color: #FA2230;
}

.nav__item:hover::before {
  width: 100%;
}
.nav__item:hover:last-child {
  color: #FA2230;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/*# sourceMappingURL=style.css.map */
