.header
  &-container
    padding-top: 28px
    display: flex
    align-items: flex-start
    @media (max-width: 768px)
      position: fixed
      background-color: $bgc
      z-index: 30
      top: 0
      padding: 20px 50px
      display: flex
      justify-content: space-around
      align-items: center
      width: 100%

.logo
  width: 50px
  transition: 1s
