.hero
  position: relative
  // height: 833px
  padding-top: 181px
  padding-bottom: 230px
  &::before
    position: absolute
    content: ''
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-image: url(../images/bg/head-bg.png)
    background-size: cover
    background-repeat: no-repeat
    background-position-x: calc(50% + 129px)
    transform: translateY(-241px)
    z-index: -3
  &::after
    position: absolute
    content: ''
    top: -203px
    right: 0
    height: 100%
    width: 100%
    background-image: url(../images/bg/head-carblur.svg)
    background-size: contain
    background-repeat: no-repeat
    background-position: top right -137px
    // transform: translateY(-241px)
    // backdrop-filter: blur(2px)
    filter: blur(10px)
    z-index: -2
  &-container
    position: relative
    // margin-bottom: 229px
    padding-bottom: 230px
    &::before
      position: absolute
      content: ''
      top: -349px
      left: -214px
      width: 491px
      height: 491px
      border-radius: 50%
      background: radial-gradient(74.63% 74.63% at 12.05% 22.39%, #E2001B 0%, #700000 100%)
      z-index: -3
    &::after
      position: absolute
      content: ''
      top: 0
      left: 0
      // transform: translate(-44px, -143px)
      width: 484px
      height: 484px
      // border-radius: 50%
      background: url(../images/bg/head-blur.svg), linear-gradient(136.6deg, rgba(57, 57, 57, 0.5) 16.51%, rgba(57, 57, 57, 0) 60.77%)
      background-size: contain
      background-repeat: no-repeat
      // background-color:
      // filter: blur(10px)
      backdrop-filter: blur(2px)
      // border: 3px solid $red
      border-radius: 50%
      opacity: 0.7
      z-index: -1
      animation: heros 10s 3s infinite linear
      // animation-name: heros
      // animation-duration: 5s
      // animation-timing-function: linear
      // animation-iteration-count: infinite
      // animation-delay: 3s

  &__title
    color: $red
    margin-bottom: 22px
  &__descr
    max-width: 362px
    margin-bottom: 30px
    @include font(500, 20px, 115%)
  &__btn
    margin-bottom: 82px
  &__head
    margin-left: 620px
    position: relative
    &::before
      position: absolute
      content: ''
      top: 28px
      left: 408px
      height: 3px
      width: 100%
      background-color: $red

@keyframes heros
  0%
    transform: translate(-44px, -143px) rotate(0deg)
  100%
    transform: translate(-44px, -143px) rotate(-360deg)
