@media ( min-width: 992px )
  .nav__item:hover
    &::before
      width: 100%
      // height: 1px
      // border-bottom: 1px solid $red
    &:last-child a
      color: $red

  .logo:hover
    transform: rotate(360deg)

  .btn:hover
    // transform: scale(1.01)
    letter-spacing: 0.1px
    background: linear-gradient(270deg, #f90615 0%, #640000 100%)
    &::before
      top: -7px
      left: -1px
      transform: rotate(-21deg)
      opacity: 0.2
      background-image: url(../images/logo-white.svg)
      background-size: contain
      background-repeat: no-repeat

  .footer__input:focus
    border: 1px solid $red
    background: transparent

  .footer__item:hover a
    color: $red
