@media ( min-width: 992px )
.nav__item:hover
  &::before
    width: 100%
    // height: 1px
    // border-bottom: 1px solid $red
  &:last-child
    color: $red

.logo:hover
  transform: rotate(360deg)
