@media ( min-width: 992px )
  .nav__item:hover
    &::before
      width: 100%
    &:last-child a
      color: $red

  .logo:hover
    transform: rotate(360deg)

  .btn:hover
    letter-spacing: 0.1px
    background: linear-gradient(270deg, #f90615 0%, #640000 100%)
    &::before
      top: -7px
      left: -1px
      background-image: url(../images/logo-white.svg)
      opacity: 0.2
      transform: rotate(-21deg)

  .footer__input:focus
    border: 1px solid $red
    background: transparent

  .footer__item:hover a
    color: $red
